In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt



# df_2005 = pd.read_csv('./data/2005/merged_movies_data_2005.csv')
# df_2006 = pd.read_csv('./data/2006/merged_movies_data_2006.csv')
# df_2007 = pd.read_csv('./data/2007/merged_movies_data_2007.csv')
# df_2008 = pd.read_csv('./data/2008/merged_movies_data_2008.csv')
# df_2009 = pd.read_csv('./data/2009/merged_movies_data_2009.csv')
# df_2010 = pd.read_csv('./data/2010/merged_movies_data_2010.csv')
# df_2011 = pd.read_csv('./data/2011/merged_movies_data_2011.csv')
# df_2012 = pd.read_csv('./data/2012/merged_movies_data_2012.csv')
# df_2013 = pd.read_csv('./data/2013/merged_movies_data_2013.csv')
# df_2014 = pd.read_csv('./data/2014/merged_movies_data_2014.csv')
# df_2015 = pd.read_csv('./data/2015/merged_movies_data_2015.csv')
# df_2016 = pd.read_csv('./data/2016/merged_movies_data_2016.csv')
# df_2017 = pd.read_csv('./data/2017/merged_movies_data_2017.csv')
# df_2018 = pd.read_csv('./data/2018/merged_movies_data_2018.csv')
# df_2019 = pd.read_csv('./data/2019/merged_movies_data_2019.csv')
# df_2020 = pd.read_csv('./data/2020/merged_movies_data_2020.csv')
# df_2021 = pd.read_csv('./data/2021/merged_movies_data_2021.csv')
# df_2022 = pd.read_csv('./data/2022/merged_movies_data_2022.csv')
# df_2023 = pd.read_csv('./data/2023/merged_movies_data_2023.csv')
# df_2024 = pd.read_csv('./data/2024/merged_movies_data_2024.csv')

# df = pd.concat([df_2005, df_2006,df_2007,df_2008,df_2009,df_2010,df_2011,df_2012,df_2013,df_2014,df_2015,df_2016,df_2017,df_2018,df_2019,df_2020,df_2021,df_2022,df_2023,df_2024])

df = pd.read_csv('./data/ys_merged_movies_data.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10700 entries, 0 to 10699
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  10700 non-null  object
 1   Movie Link             10700 non-null  object
 2   Year                   10700 non-null  int64
 3   Duration               10672 non-null  object
 4   MPA                    9087 non-null   object
 5   Rating                 10659 non-null  float64
 6   Votes                  10659 non-null  object
 7   budget                 4749 non-null   float64
 8   grossWorldWide         9812 non-null   float64
 9   gross_US_Canada        9394 non-null   float64
 10  opening_weekend_Gross  8901 non-null   float64
 11  directors              10700 non-null  object
 12  writers                10700 non-null  object
 13  stars                  10700 non-null  object
 14  genres                 10700 non-null  object
 15  countries_origin       10700 non-null  object
 16  filming_locations      10700 non-null  object
 17  production_companies   10700 non-null  object
 18  Languages              10700 non-null  object
 19  wins                   10700 non-null  int64
 20  nominations            10700 non-null  int64
 21  oscars                 10700 non-null  int64
 22  release_date           10420 non-null  float64
dtypes: float64(6), int64(4), object(13)
memory usage: 1.9+ MB

In [10]:
# MPA null 값 unrated 로 바꾸기 

df['MPA'] = df['MPA'].fillna('unrated')

# Rating 열에서 null 값 평균으로 대체

rating_mean = df['Rating'].mean()
df['Rating'] = df['Rating'].fillna(rating_mean)

# votes null 값 평균으로 대체 
def convert_votes(vote_str):
    if isinstance(vote_str, str):
        if 'M' in vote_str:
            return float(vote_str.replace('M', '')) * 1000000
        elif 'K' in vote_str:
            return float(vote_str.replace('K', '')) * 1000
    return float(vote_str)
df['Votes'] = df['Votes'].apply(convert_votes)

df['Votes'] = df['Votes'].fillna(df['Votes'].mean())

In [11]:
# df = df.drop(columns=['grossWorldWide', 'gross_US_Canada', 'opening_weekend_Gross'], axis=1)
# print(df.head())

In [12]:
# 'release_date', 'Movie Link' 제거

df = df.drop(columns=['release_date','Movie Link'])
print(df.head())

                                               Title  Year Duration    MPA  \
0    1. Star Wars: Episode III - Revenge of the Sith  2005   2h 20m  PG-13
1  2. The Chronicles of Narnia: The Lion, the Wit...  2005   2h 23m     PG
2             3. Harry Potter and the Goblet of Fire  2005   2h 37m  PG-13
3                               4. War of the Worlds  2005   1h 57m  PG-13
4                                       5. King Kong  2005    3h 7m  PG-13

   Rating     Votes       budget  grossWorldWide  gross_US_Canada  \
0     7.6  867000.0  113000000.0     850035635.0      380270577.0
1     6.9  438000.0  180000000.0     745013115.0      291710957.0
2     7.7  705000.0  150000000.0     897468952.0      290469928.0
3     6.5  485000.0  132000000.0     603873504.0      234280354.0
4     7.2  455000.0  207000000.0     556906378.0      218080025.0

   opening_weekend_Gross  ...  \
0            108435841.0  ...
1             65556312.0  ...
2            102685961.0  ...
3             64878725.0  ...
4             50130145.0  ...

                                             writers  \
0                                   ['George Lucas']
1  ['Ann Peacock', 'Andrew Adamson', 'Christopher...
2                   ['Steve Kloves', 'J.K. Rowling']
3     ['Josh Friedman', 'David Koepp', 'H.G. Wells']
4  ['Fran Walsh', 'Philippa Boyens', 'Peter Jacks...

                                               stars  \
0  ['Hayden Christensen', 'Natalie Portman', 'Ewa...
1  ['Tilda Swinton', 'Georgie Henley', 'William M...
2  ['Daniel Radcliffe', 'Emma Watson', 'Rupert Gr...
3    ['Tom Cruise', 'Dakota Fanning', 'Tim Robbins']
4      ['Naomi Watts', 'Jack Black', 'Adrien Brody']

                                              genres  \
0  ['Action Epic', 'Adventure Epic', 'Dark Fantas...
1  ['Fantasy Epic', 'Supernatural Fantasy', 'Swor...
2  ['Sword & Sorcery', 'Teen Adventure', 'Teen Fa...
3  ['Action Epic', 'Adventure Epic', 'Alien Invas...
4  ['Adventure Epic', 'Dark Romance', 'Dinosaur A...

                                    countries_origin  \
0  ['United States', 'Italy', 'Switzerland', 'Tha...
1                ['United Kingdom', 'United States']
2                ['United Kingdom', 'United States']
3                                  ['United States']
4        ['United States', 'New Zealand', 'Germany']

                                   filming_locations  \
0             ['Mount Etna, Catania, Sicily, Italy']
1  ['Adrspach National Park, Trutnov, Czech Repub...
2  ['Glenfinnan Viaduct, Fort William, Highland, ...
3     ['JF Kennedy Blvd., Bayonne, New Jersey, USA']
4            ['Shelly Bay, Wellington, New Zealand']

                                production_companies  \
0  ['Lucasfilm', 'Mestiere Cinema', 'Pandora Films']
1           ['Walt Disney Pictures', 'Walden Media']
2  ['Warner Bros.', 'Heyday Films', 'Patalex Prod...
3  ['Paramount Pictures', 'Dreamworks Pictures', ...
4  ['Universal Pictures', 'WingNut Films', 'Big P...

                                          Languages wins  nominations  oscars
0                                       ['English']    0           64       1
1  ['English', 'German', 'Brazilian Sign Language']    0           46       0
2                    ['English', 'French', 'Latin']    0           48       1
3                                       ['English']    0           49       3
4                                       ['English']    0          104       0

[5 rows x 21 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10700 entries, 0 to 10699
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  10700 non-null  object
 1   Year                   10700 non-null  int64
 2   Duration               10672 non-null  object
 3   MPA                    10700 non-null  object
 4   Rating                 10700 non-null  float64
 5   Votes                  10700 non-null  float64
 6   budget                 4749 non-null   float64
 7   grossWorldWide         9812 non-null   float64
 8   gross_US_Canada        9394 non-null   float64
 9   opening_weekend_Gross  8901 non-null   float64
 10  directors              10700 non-null  object
 11  writers                10700 non-null  object
 12  stars                  10700 non-null  object
 13  genres                 10700 non-null  object
 14  countries_origin       10700 non-null  object
 15  filming_locations      10700 non-null  object
 16  production_companies   10700 non-null  object
 17  Languages              10700 non-null  object
 18  wins                   10700 non-null  int64
 19  nominations            10700 non-null  int64
 20  oscars                 10700 non-null  int64
dtypes: float64(6), int64(4), object(11)
memory usage: 1.7+ MB

In [14]:
gb = pd.read_csv('./data/genre_budget.csv')
gb

              genres        budget
0                NaN  0.000000e+00
1             Action  6.424403e+11
2        Action Epic  3.978353e+10
3    Adult Animation  8.553900e+08
4          Adventure  1.893925e+11
..               ...           ...
180        Whodunnit  1.280500e+09
181     Witch Horror  1.622000e+08
182  Workplace Drama  4.861992e+08
183            Wuxia  1.246632e+09
184    Zombie Horror  1.110070e+10

[185 rows x 2 columns]

In [15]:
# 문자열 전처리

# 대괄호와 따옴표만 제거하고 쉼표는 그대로 두는 함수
def clean_column_values(column):
    return column.apply(lambda x: ', '.join([item.replace("'", "").replace('"', '').replace('[', '').replace(']', '') for item in str(x).split(',')]))

# 각 컬럼에 대해 전처리 수행
df_cleaned = df.apply(clean_column_values)

# 전처리된 데이터프레임 출력
print(df_cleaned)

                                                   Title  Year Duration  \
0        1. Star Wars: Episode III - Revenge of the Sith  2005   2h 20m
1      2. The Chronicles of Narnia: The Lion,  the Wi...  2005   2h 23m
2                 3. Harry Potter and the Goblet of Fire  2005   2h 37m
3                                   4. War of the Worlds  2005   1h 57m
4                                           5. King Kong  2005    3h 7m
...                                                  ...   ...      ...
10695                                     596. Vettaiyan  2024   2h 43m
10696                                        597. Nr. 24  2024   1h 51m
10697                                      598. Parallel  2024   1h 28m
10698                               599. Fight or Flight  2024   2h 46m
10699                                   600. A Sacrifice  2024   1h 34m

           MPA Rating     Votes       budget grossWorldWide gross_US_Canada  \
0        PG-13    7.6  867000.0  113000000.0    850035635.0     380270577.0
1           PG    6.9  438000.0  180000000.0    745013115.0     291710957.0
2        PG-13    7.7  705000.0  150000000.0    897468952.0     290469928.0
3        PG-13    6.5  485000.0  132000000.0    603873504.0     234280354.0
4        PG-13    7.2  455000.0  207000000.0    556906378.0     218080025.0
...        ...    ...       ...          ...            ...             ...
10695  unrated    7.1   38000.0          nan      2397623.0             nan
10696  unrated    7.7    3400.0          nan      3301976.0             nan
10697  unrated    5.3    1700.0          nan            nan             nan
10698  unrated    7.0     117.0          nan            nan             nan
10699        R    5.1    4300.0          nan       130017.0             nan

      opening_weekend_Gross  ...  \
0               108435841.0  ...
1                65556312.0  ...
2               102685961.0  ...
3                64878725.0  ...
4                50130145.0  ...
...                     ...  ...
10695                   nan  ...
10696                   nan  ...
10697                   nan  ...
10698                   nan  ...
10699                   nan  ...

                                                 writers  \
0                                           George Lucas
1      Ann Peacock,  Andrew Adamson,  Christopher Markus
2                            Steve Kloves,  J.K. Rowling
3               Josh Friedman,  David Koepp,  H.G. Wells
4           Fran Walsh,  Philippa Boyens,  Peter Jackson
...                                                  ...
10695                                      T.J. Gnanavel
10696         Erlend Loe,  Espen Lauritzen von Ibenfeldt
10697        Aldis Hodge,  Edwin Hodge,  Jonathan Keasey
10698                      Brooks McLaren,  D.J. Cotrona
10699                       Jordan Scott,  Nicholas Hogg

                                                   stars  \
0      Hayden Christensen,  Natalie Portman,  Ewan Mc...
1       Tilda Swinton,  Georgie Henley,  William Moseley
2          Daniel Radcliffe,  Emma Watson,  Rupert Grint
3              Tom Cruise,  Dakota Fanning,  Tim Robbins
4                Naomi Watts,  Jack Black,  Adrien Brody
...                                                  ...
10695     Fahadh Faasil,  Amitabh Bachchan,  Rajinikanth
10696  Mark Noble,  Lisa Loven Kongsli,  August Wittg...
10697     Danielle Deadwyler,  Aldis Hodge,  Edwin Hodge
10698  Josh Hartnett,  Katee Sackhoff,  Charithra Cha...
10699              Eric Bana,  Sadie Sink,  Sylvia Hoeks

                                                  genres  \
0      Action Epic,  Adventure Epic,  Dark Fantasy,  ...
1      Fantasy Epic,  Supernatural Fantasy,  Sword & ...
2      Sword & Sorcery,  Teen Adventure,  Teen Fantas...
3      Action Epic,  Adventure Epic,  Alien Invasion,...
4      Adventure Epic,  Dark Romance,  Dinosaur Adven...
...                                                  ...
10695  Cop Drama,  One-Person Army Action,  Action,  ...
10696  Docudrama,  Epic,  Period Drama,  Biography,  ...
10697                          Drama,  Sci-Fi,  Thriller
10698                                    Action,  Comedy
10699                Drama,  Horror,  Mystery,  Thriller

                                        countries_origin  \
0      United States,  Italy,  Switzerland,  Thailand...
1                         United Kingdom,  United States
2                         United Kingdom,  United States
3                                          United States
4                  United States,  New Zealand,  Germany
...                                                  ...
10695                                              India
10696                                             Norway
10697                                      United States
10698                     United States,  United Kingdom
10699  Germany,  United States,  United Kingdom,  France

                                       filming_locations  \
0                  Mount Etna,  Catania,  Sicily,  Italy
1      Adrspach National Park,  Trutnov,  Czech Republic
2      Glenfinnan Viaduct,  Fort William,  Highland, ...
3          JF Kennedy Blvd.,  Bayonne,  New Jersey,  USA
4                  Shelly Bay,  Wellington,  New Zealand
...                                                  ...
10695
10696                             Rjukan,  Tinn,  Norway
10697
10698                                            Hungary
10699

                                    production_companies  \
0            Lucasfilm,  Mestiere Cinema,  Pandora Films
1                    Walt Disney Pictures,  Walden Media
2      Warner Bros.,  Heyday Films,  Patalex Productions
3      Paramount Pictures,  Dreamworks Pictures,  Amb...
4      Universal Pictures,  WingNut Films,  Big Prima...
...                                                  ...
10695                                   Lyca Productions
10696                   SF Norge A/S,  Motion Blur Films
10697  Rumble Riot Pictures,  Hodge Brothers Producti...
10698  Asbury Park Productions,  The Royal Budapest F...
10699  Scott Free Productions,  Augenschein Filmprodu...

                                        Languages wins nominations oscars
0                                         English    0          64      1
1      English,  German,  Brazilian Sign Language    0          46      0
2                        English,  French,  Latin    0          48      1
3                                         English    0          49      3
4                                         English    0         104      0
...                                           ...  ...         ...    ...
10695                                       Tamil    0           0      0
10696                                   Norwegian    0           0      0
10697                                                0           0      0
10698                                     English    0           0      0
10699                            English,  German    0           0      0

[10700 rows x 21 columns]

In [16]:
# gross 수익 결측치 처리

df[['grossWorldWide', 'gross_US_Canada', 'opening_weekend_Gross']] = df[['grossWorldWide', 'gross_US_Canada', 'opening_weekend_Gross']].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10700 entries, 0 to 10699
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  10700 non-null  object
 1   Year                   10700 non-null  int64
 2   Duration               10672 non-null  object
 3   MPA                    10700 non-null  object
 4   Rating                 10700 non-null  float64
 5   Votes                  10700 non-null  float64
 6   budget                 4749 non-null   float64
 7   grossWorldWide         10700 non-null  float64
 8   gross_US_Canada        10700 non-null  float64
 9   opening_weekend_Gross  10700 non-null  float64
 10  directors              10700 non-null  object
 11  writers                10700 non-null  object
 12  stars                  10700 non-null  object
 13  genres                 10700 non-null  object
 14  countries_origin       10700 non-null  object
 15  filming_locations      10700 non-null  object
 16  production_companies   10700 non-null  object
 17  Languages              10700 non-null  object
 18  wins                   10700 non-null  int64
 19  nominations            10700 non-null  int64
 20  oscars                 10700 non-null  int64
dtypes: float64(6), int64(4), object(11)
memory usage: 1.7+ MB

In [17]:
import pandas as pd


# Duration 컬럼을 분(minute) 단위로 변환하는 함수
def str_to_minutes(duration):
    if pd.isnull(duration):
        return None  # None 값은 그대로 반환

    try:
        # 'h'가 포함된 경우, 시간과 분을 분으로 변환
        if 'h' in duration:
            duration = duration.split('h')
            hours = int(duration[0])  # 시간 값
            minutes = 0
            if 'm' in duration[1]:
                minutes = int(duration[1].split('m')[0])  # 분 값
            return hours * 60 + minutes  # 시간을 분으로 변환

        # 'm'만 있는 경우, 분 단위로 변환
        elif 'm' in duration:
            return int(duration.split('m')[0])  # 분 값만 추출

        # 숫자만 있는 경우 그대로 반환
        else:
            return int(duration)

    except Exception as e:
        return None  # 오류 발생 시 None 반환

# 'Duration' 컬럼에 str_to_minutes 함수 적용하여 분 단위로 변환
df['Duration'] = df['Duration'].apply(str_to_minutes)

# 'Duration' 컬럼을 int로 변환 (None 값은 NaN으로 대체)
df['Duration'] = pd.to_numeric(df['Duration'], errors='coerce')

# 'Duration'의 평균값을 구하고, null 값을 평균값으로 채우기
mean_duration = df['Duration'].mean()

# null 값에 평균값 채우기
df['Duration'] = df['Duration'].fillna(mean_duration)

# 결과 확인
print(df[['Duration']].head())

   Duration
0     140.0
1     143.0
2     157.0
3     117.0
4     187.0

In [18]:
# 장르별 예산 결측치 처리
import pandas as pd

# 1단계: genre_budget.csv 파일을 불러옵니다.
genre_df = pd.read_csv(r'C:\qwer\solo\movie_data\data\genre_budget.csv')

# 2단계: 장르 그룹화 (비슷한 장르끼리 묶기)
genre_groups = {
    "Epic": ["Action Epic", "Fantasy Epic", "Adventure Epic", "War Epic", "Historical Epic", "Western Epic", "Romantic Epic"],
    "Fantasy": ["Fantasy", "Supernatural Fantasy", "Dark Fantasy", "Sword & Sorcery"],
    "Action": ["Action", "Car Action", "One-Person Army Action", "Martial Arts", "Gun Fu"],
    "Comedy": ["Comedy", "High-Concept Comedy", "Dark Comedy", "Slapstick", "Quirky Comedy", "Teen Comedy", "Raunchy Comedy", "Parody", "Screwball Comedy", "Stoner Comedy", "Body Swap Comedy"],
    "Horror": ["Horror", "Splatter Horror", "Slasher Horror", "Zombie Horror", "Monster Horror", "Vampire Horror", "Werewolf Horror", "Witch Horror", "Psychological Horror", "Body Horror", "Found Footage Horror", "Folk Horror", "B-Horror", "Kaiju"],
    "Romance": ["Romance", "Feel-Good Romance", "Holiday Romance", "Steamy Romance", "Tragic Romance", "Teen Romance", "Holiday Family", "Romantic Comedy"],
    "Adventure": ["Adventure", "Jungle Adventure", "Mountain Adventure", "Sea Adventure", "Desert Adventure", "Urban Adventure", "Globetrotting Adventure", "Teen Adventure"],
    "Drama": ["Drama", "Period Drama", "Legal Drama", "Crime Drama", "Medical Drama", "Political Drama", "Workplace Drama", "Teen Drama", "Psychological Drama", "Historical Drama", "Showbiz Drama", "Family Drama"]
}

# 3단계: 장르를 카테고리로 묶는 함수 정의
def categorize_genre(genre):
    for category, genres in genre_groups.items():
        if genre in genres:
            return category
    return "Other"

# 4단계: 'genres' 열을 카테고리화하여 새로운 열 'genre_category'를 추가
genre_df['genre_category'] = genre_df['genres'].apply(categorize_genre)

# 5단계: 카테고리별 예산 합계와 평균 계산
category_budget = genre_df.groupby('genre_category')['budget'].agg(['sum', 'mean']).reset_index()

# 결과를 확인
print(category_budget)

# csv 파일로 만들기 
# category_budget.to_csv('data/category_budget.csv', index=False)

# null 값에 대입하기

  genre_category           sum          mean
0         Action  7.033307e+11  1.406661e+11
1      Adventure  2.181856e+11  2.727319e+10
2         Comedy  9.423105e+10  8.566459e+09
3          Drama  3.687271e+11  4.096968e+10
4           Epic  6.995089e+10  9.992984e+09
5        Fantasy  1.718413e+11  4.296034e+10
6         Horror  1.253935e+11  8.956676e+09
7          Other  2.459579e+12  2.084389e+10
8        Romance  7.755940e+10  9.694925e+09

In [20]:
# 2단계: 장르 그룹화 (비슷한 장르끼리 묶기)
genre_groups = {
    "Epic": ["Action Epic", "Fantasy Epic", "Adventure Epic", "War Epic", "Historical Epic", "Western Epic", "Romantic Epic"],
    "Fantasy": ["Fantasy", "Supernatural Fantasy", "Dark Fantasy", "Sword & Sorcery"],
    "Action": ["Action", "Car Action", "One-Person Army Action", "Martial Arts", "Gun Fu"],
    "Comedy": ["Comedy", "High-Concept Comedy", "Dark Comedy", "Slapstick", "Quirky Comedy", "Teen Comedy", "Raunchy Comedy", "Parody", "Screwball Comedy", "Stoner Comedy", "Body Swap Comedy"],
    "Horror": ["Horror", "Splatter Horror", "Slasher Horror", "Zombie Horror", "Monster Horror", "Vampire Horror", "Werewolf Horror", "Witch Horror", "Psychological Horror", "Body Horror", "Found Footage Horror", "Folk Horror", "B-Horror", "Kaiju"],
    "Romance": ["Romance", "Feel-Good Romance", "Holiday Romance", "Steamy Romance", "Tragic Romance", "Teen Romance", "Holiday Family", "Romantic Comedy"],
    "Adventure": ["Adventure", "Jungle Adventure", "Mountain Adventure", "Sea Adventure", "Desert Adventure", "Urban Adventure", "Globetrotting Adventure", "Teen Adventure"],
    "Drama": ["Drama", "Period Drama", "Legal Drama", "Crime Drama", "Medical Drama", "Political Drama", "Workplace Drama", "Teen Drama", "Psychological Drama", "Historical Drama", "Showbiz Drama", "Family Drama"]
}

# 3단계: 장르를 카테고리로 묶는 함수 정의
def categorize_genre(genre: str):
    genre = genre.replace("'", "").replace('"', '').replace('[', '').replace(']', '')
    # print(genre)
    for category, genres in genre_groups.items():
        for g in genres:
            if g in genre:
                return category
        if category in genre:
            return category
    return "Other"
df['Category'] = df['genres'].apply(categorize_genre)

# merged_df = df.merge(category_budget[['genre_category', 'mean']],left_on='Category', right_on='genre_category', how='left', suffixes=('','_mean'))
# merged_df['budget']= merged_df['budget'].fillna(merged_df['mean'])

# df.info()
df['Category'].value_counts()
## 카테고리별 예산 평균값을 구하고 null 값에 대입하기
df['budget'] = df['budget'].fillna(df['Category'].map(df.groupby('Category')['budget'].mean()))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10700 entries, 0 to 10699
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  10700 non-null  object
 1   Year                   10700 non-null  int64
 2   Duration               10700 non-null  float64
 3   MPA                    10700 non-null  object
 4   Rating                 10700 non-null  float64
 5   Votes                  10700 non-null  float64
 6   budget                 10700 non-null  float64
 7   grossWorldWide         10700 non-null  float64
 8   gross_US_Canada        10700 non-null  float64
 9   opening_weekend_Gross  10700 non-null  float64
 10  directors              10700 non-null  object
 11  writers                10700 non-null  object
 12  stars                  10700 non-null  object
 13  genres                 10700 non-null  object
 14  countries_origin       10700 non-null  object
 15  filming_locations      10700 non-null  object
 16  production_companies   10700 non-null  object
 17  Languages              10700 non-null  object
 18  wins                   10700 non-null  int64
 19  nominations            10700 non-null  int64
 20  oscars                 10700 non-null  int64
 21  genre_category         10700 non-null  object
 22  Category               10700 non-null  object
dtypes: float64(7), int64(4), object(12)
memory usage: 1.9+ MB

In [22]:
# 문자열 전처리

# 대괄호와 따옴표만 제거하고 쉼표는 그대로 두는 함수
def clean_column_values(column):
    return column.apply(lambda x: ', '.join([item.replace("'", "").replace('"', '').replace('[', '').replace(']', '') for item in str(x).split(',')]))

# 각 컬럼에 대해 전처리 수행
df_cleaned = df.apply(clean_column_values)
df = df_cleaned
# 전처리된 데이터프레임 출력
print(df)

                                                   Title  Year Duration  \
0        1. Star Wars: Episode III - Revenge of the Sith  2005    140.0
1      2. The Chronicles of Narnia: The Lion,   the W...  2005    143.0
2                 3. Harry Potter and the Goblet of Fire  2005    157.0
3                                   4. War of the Worlds  2005    117.0
4                                           5. King Kong  2005    187.0
...                                                  ...   ...      ...
10695                                     596. Vettaiyan  2024    163.0
10696                                        597. Nr. 24  2024    111.0
10697                                      598. Parallel  2024     88.0
10698                               599. Fight or Flight  2024    166.0
10699                                   600. A Sacrifice  2024     94.0

           MPA Rating     Votes             budget grossWorldWide  \
0        PG-13    7.6  867000.0        113000000.0    850035635.0
1           PG    6.9  438000.0        180000000.0    745013115.0
2        PG-13    7.7  705000.0        150000000.0    897468952.0
3        PG-13    6.5  485000.0        132000000.0    603873504.0
4        PG-13    7.2  455000.0        207000000.0    556906378.0
...        ...    ...       ...                ...            ...
10695  unrated    7.1   38000.0  608311811.5236967      2397623.0
10696  unrated    7.7    3400.0  271429747.4876847      3301976.0
10697  unrated    5.3    1700.0  42893363.17463618            0.0
10698  unrated    7.0     117.0  608311811.5236967            0.0
10699        R    5.1    4300.0  50012798.14857143       130017.0

      gross_US_Canada opening_weekend_Gross  ...  \
0         380270577.0           108435841.0  ...
1         291710957.0            65556312.0  ...
2         290469928.0           102685961.0  ...
3         234280354.0            64878725.0  ...
4         218080025.0            50130145.0  ...
...               ...                   ...  ...
10695             0.0                   0.0  ...
10696             0.0                   0.0  ...
10697             0.0                   0.0  ...
10698             0.0                   0.0  ...
10699             0.0                   0.0  ...

                                                  genres  \
0      Action Epic,   Adventure Epic,   Dark Fantasy,...
1      Fantasy Epic,   Supernatural Fantasy,   Sword ...
2      Sword & Sorcery,   Teen Adventure,   Teen Fant...
3      Action Epic,   Adventure Epic,   Alien Invasio...
4      Adventure Epic,   Dark Romance,   Dinosaur Adv...
...                                                  ...
10695  Cop Drama,   One-Person Army Action,   Action,...
10696  Docudrama,   Epic,   Period Drama,   Biography...
10697                        Drama,   Sci-Fi,   Thriller
10698                                   Action,   Comedy
10699             Drama,   Horror,   Mystery,   Thriller

                                        countries_origin  \
0      United States,   Italy,   Switzerland,   Thail...
1                        United Kingdom,   United States
2                        United Kingdom,   United States
3                                          United States
4                United States,   New Zealand,   Germany
...                                                  ...
10695                                              India
10696                                             Norway
10697                                      United States
10698                    United States,   United Kingdom
10699  Germany,   United States,   United Kingdom,   ...

                                       filming_locations  \
0               Mount Etna,   Catania,   Sicily,   Italy
1      Adrspach National Park,   Trutnov,   Czech Rep...
2      Glenfinnan Viaduct,   Fort William,   Highland...
3       JF Kennedy Blvd.,   Bayonne,   New Jersey,   USA
4                Shelly Bay,   Wellington,   New Zealand
...                                                  ...
10695
10696                           Rjukan,   Tinn,   Norway
10697
10698                                            Hungary
10699

                                    production_companies  \
0          Lucasfilm,   Mestiere Cinema,   Pandora Films
1                   Walt Disney Pictures,   Walden Media
2      Warner Bros.,   Heyday Films,   Patalex Produc...
3      Paramount Pictures,   Dreamworks Pictures,   A...
4      Universal Pictures,   WingNut Films,   Big Pri...
...                                                  ...
10695                                   Lyca Productions
10696                  SF Norge A/S,   Motion Blur Films
10697  Rumble Riot Pictures,   Hodge Brothers Product...
10698  Asbury Park Productions,   The Royal Budapest ...
10699  Scott Free Productions,   Augenschein Filmprod...

                                          Languages wins nominations oscars  \
0                                           English    0          64      1
1      English,   German,   Brazilian Sign Language    0          46      0
2                        English,   French,   Latin    0          48      1
3                                           English    0          49      3
4                                           English    0         104      0
...                                             ...  ...         ...    ...
10695                                         Tamil    0           0      0
10696                                     Norwegian    0           0      0
10697                                                  0           0      0
10698                                       English    0           0      0
10699                             English,   German    0           0      0

      genre_category Category
0              Other     Epic
1              Other     Epic
2              Other  Fantasy
3              Other     Epic
4              Other     Epic
...              ...      ...
10695          Other   Action
10696          Other     Epic
10697          Other    Drama
10698          Other   Action
10699          Other   Horror

[10700 rows x 23 columns]

In [23]:
df.to_csv('data/MOVIE_DATA.csv', index= False)